{# templates/includes/header.html.twig #}

<header>
	<br>
        <a href="{{ path('homepage') }}">php_symfony_projet01_test04</a>
        <br>
        <a href="{{ path('homepage') }}">Accueil</a>
        <br>
        <a href="#">Connexion</a>
        <br>
        <br>
</header>
