{# templates/base.html.twig #}
{# le template mère dt ts les templates fils héritent#}

<!doctype html>
<html lang="fr">

	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>
			{% block title %}
			php_symfony_projet01_test04
			{% endblock %}
		</title>
	</head>

	<body>
		{% include 'includes/header.html.twig' %}
		
		{% block content %}
			{# Le contenu de chaque page sera ici #}
		{% endblock %}
	    
	    	{% include 'includes/footer.html.twig' %}

	</body>

</html>
